.container{
  width: 100%;
}

.bgImage::before{
  opacity: 0.5;
}

.bgImage{
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/images.jpeg') no-repeat center;
  position: relative;
  background-size: cover;
}

.mainContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  z-index: 100;
}

.inputText{
  padding: 5px 10px;
  width: 80%;
}

.searchContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.homeTitle{
  margin-bottom: 10px;
}

.homeSubTitle{
  margin-bottom: 10px;
}

.descriptionContainer{
  text-align: center;
}

.descriptionTitle{
  color: black;
  margin-bottom: 10px;
}

.descriptionText{
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

.volunteerButton{
  max-width: 220px;
  padding: 0px 10px;
  height: 40px;
  background-color: white; 
  border: none;
  color: #1E87FF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #1E87FF;
  font-weight: bold;
}

.topEventsContainer{
  width: 100%;
  margin-top: 10px;
}

.eventsTitle{
  font-size: 16px;
  margin-bottom: 10px;
}

.topEvents{
  width: 100%;
  overflow: scroll;
  display: flex;
}

.topEvents::-webkit-scrollbar {
  border-radius: 4px;
  width: 1px;
  background-color: transparent;
}

.topEvents::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.globalSearchDropdown {
  background: #fff;
  position: absolute;
  top: 40px;
  padding: 0 !important;
  width: 80%;
  height: auto;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
  border-radius: 5px;
  margin-top: 4px;
  border-radius: 4px;
  z-index: 10;
}

.globalSearchDropdown::-webkit-scrollbar {
  border-radius: 4px;
  width: 6px;
  background-color: #ffffff;
}

.globalSearchDropdown::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 15px;
}

.gsdLi {
  margin-right: 0 !important;
  display: flex !important;
  align-items: center;
  padding-left: 16px;
  overflow: hidden;
}

.gsdAnchor {
  display: block;
  padding: 15px 0;
  color: #2f2f2f !important;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.gsdAnchor:hover {
  color: #000 !important;
}

.gsdLi:last-child .gsd-anchor {
  border: none;
}

.gsdSpan {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.borderTop{
  width: 100%;
  height: 2px;
  background-color: gray;
  border: 1px solid transparent;
  border-radius: 5px;  
  margin: 50px 0px;
}