.selectContainer {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

.selectContainer::-ms-expand {
  display: none;
}

.selectContainer {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: .25em;
}

.selectContainer::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.selectContainer:hover::after {
  color: #f39c12;
}

.inputText{
  padding: 5px 10px;
  margin-bottom: 15px;
  width: 100%;
}

.notifyContainer{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

.notifyContainerText{
    background-color: '#888888';
    width: 70%;
    align-items: 'center';
    justify-content: 'center';
    border-radius: 4;
    padding: 10;
    text-align: 'center'
}

.notifyText{
    color: '#FFFFFF'
}
